* {
    font-family: 'Unkempt', cursive;
}

body {
    background-color: #cbf1ca;
    background: url(https://cdn.discordapp.com/attachments/929126246409973800/931747812222308402/grass.png) center center repeat;
    background-size: 7em;


}

header {
    background: linear-gradient(#32cf81, rgb(7, 53, 46));
    color: #fff563;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, h3, h4, h5 {
    font-family: 'Unkempt', cursive;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

form {
    display: flex;
    justify-items: center;
}

.column {
    justify-content: center;
}

label {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.submit {
    display: flex;
    align-self: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
footer {
    background-color: #cbf1ca;
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 4.1rem;
}

.card {
    border-radius: 10px;
}

img {
    border-radius: 1em;
}

.card-divider{
    background-color: rgb(68, 165, 149);
    color: white;
    font-size: 24px;
    display: block;
    text-align: center;
}

.card-section {
    background-color: whitesmoke;

}

.vertical {
    display: flex;
    flex-direction: row;
    
}
#left{
    margin-left: 0;
    width: 20%;
    border-right: 3px solid white;
}
#right{
    margin-right: 0;
    width: 20%;
    border-left: 3px solid white;
}


/* #main-card {
    display: none;
} */

.clickable {
    cursor: pointer;
}
.clickable:hover {
    opacity: 0.5;
}

#mascot{
    position: fixed; 
    padding: 20px; 
    bottom: 45px;
}

/* @media screen and (max-width: 90.9375em) {
    article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
    }
    label {
        display: flex;
        flex-direction: column;
        width: 150px;
    }
    .submit {
        display: flex;
        align-self: center;
    }
    #mascot{
        position: fixed;
        padding: 20px;
        left: 20px;
        bottom: 5px;
    }
} */

/* @media screen and (max-width: 75.9375em) {
    article {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 20px;
    }
    form {
    display: flex;
    justify-items: center;
    }
    label {
        display: flex;
        flex-direction: column;
        width: 150px;
    }
    .submit {
        display: flex;
        align-self: center;
    }
    .three-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    #mascot{
        position: fixed;
        top: 20px;
        right: 20px;
    }
} */

@media screen and (max-width: 39.9375em) {
    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    form {
        display: flex;
        justify-items: center;
    }
    label {
        display: flex;
        flex-direction: column;
        width: 150px;
    }
    .submit {
        display: flex;
        align-self: center;
    }
    /* #maincard {
        width: 200px;
    } */
    .three-cards{
        display: flex;
        flex-direction: column;
    }
    #vodcard-head {
        display: inline;
    }
    #mascot{
        position: relative;
    }
    #page-container {
        position: relative;
        min-height: 100vh;
      }
    footer {
        background-color: #cbf1ca;
        position: relative;
        text-align: center;
        bottom: 0;
        width: 100%;
        height: 5.7rem;
    }
}